html{
    background: rgb(214, 89, 89);
}
span{
    color: white;
    font-weight: 800 ;
    
}
h1{
    color:white;
    font-size: 40px;
    text-align: center;
}
h2{
    color:white;
    margin-left: 7em  ;
}
label{
    color:white;
    font-weight: 800 ;

}
p{
    color:white;
    text-align: center;
}
.informdiv div{
    margin : 0.5em 0em 0em 0em ;
}
.maindiv{
    margin: 1em 15em 1em 25em  ;
}
#inpname{
    margin:0em 0em 0em 9em;
    padding-right: 40px;
}
#inpdate{
    margin:0em 0em 0em 9.4em;
}
#male{
    margin:0em 0em 0em 10em;
}
#inpemail{
    margin:0em 0em 0em 9em;
    padding-right: 40px;
}
#inpadd{
    margin:0em 0em 0em 7.9em;
    padding-right: 40px;
}
#school{
    margin:0em 0em 0em 8.7em;
    
}
#depart{
    margin:0em 0em 0em 5.9em;
}
#course{
    margin:0em 0em 0em 8.5em;
}
#inpmob{
    margin:0em 0em 0em 4em;
    padding-right: 40px;
}
#btnsubmit{
    margin:0em 0em 0em 8.8em;
}